<ul id=testDetails class="details">
  <li>
    <span class="property">Status:</span>
    <span class="value"><%= test.status %></span>
  <li>
    <span class="property">Tester:</span>
    <span class="value"><%= test.tester %></span>
  <li>
    <span class="property">Program:</span>
    <span class="value"><%= test.program %></span>
  <li>
    <span class="property">Czas rozpoczęcia:</span>
    <span class="value"><%= test.startTime %></span>
  <li>
    <span class="property">Czas zakończenia:</span>
    <span class="value"><%= test.endTime %></span>
  <li>
    <span class="property">Czas trwania:</span>
    <span class="value"><%= test.elapsedTime %></span>
</ul>
<canvas id=previewGraph width=400 height=100></canvas>